{% extends "base.html" %}

<!-- CONTENT START -->
{% block content %}

<!-- POST -->
<article class="media content-section">

    </head>

    <body>

        <div class="w-100">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
            <span class="mr-1 secondary-colour font-weight-bold">@{{ current_user.username }}</span>

            <form method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group mb-0">

                    <!-- CONTENT -->
                    <div class="form-group mb-0 mt-2">

                        {% if form.content.errors %}
                        {{ form.content(class="form-control dark-form is-invalid input-form", rows="9", style="resize: none;", placeholder="Got something to say?", onkeyup="countChar(this, 300)", maxlength="300", autofocus=true) }}
                        {% else %}
                        {{ form.content(class="form-control dark-form input-form", rows="9", style="resize: none;", placeholder="Got something to say?", onkeyup="countChar(this, 300)", maxlength="300", autofocus=true) }}
                        {% endif %}

                        <small class="float-right mt-1" id="charNum">300 characters remaining</small>


                        {% for error in form.content.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}

                    </div>

                </fieldset>

                <!-- SUBMIT -->
                <div class="form-group mb-1">
                    {{form.submit(class="btn button btn-sm input-button") }}
                </div>

            </form>
        </div>
</article>

<!-- CONTENT END -->
{% endblock content %}

<!-- SIDEBAR START -->
{% block sidebar %}

<div class="col-lg-4">
    <div class="content-section">
        <div class="align-middle mt-1">
            <h5 class="heading-title">Trending</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#3f3fff" class="bi bi-bar-chart-fill mb-2" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
            </svg>
        </div>
        <ul class="list-group">

            <!-- LINK #1 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Nunc quis ipsum ac eros
                    <span class="badge badge-pill badge-fill high-emphasis">14</span>
                </li>
            </a>

            <!-- LINK #2 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Pellentesque interdum
                    <span class="badge badge-pill badge-fill high-emphasis">2</span>
                </li>
            </a>

            <!-- LINK #3 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Quisque varius lorem id
                    <span class="badge badge-pill badge-fill high-emphasis">1</span>
                </li>
            </a>

        </ul>
        </p>
    </div>
</div>

<!-- SIDEBAR END -->
{% endblock sidebar %}