{% extends "base.html" %}

<!-- CONTENT START -->
{% block content %}

<!-- POST -->
<article class="media content-section">

    <div class="w-100">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <span class="mr-1 secondary-colour font-weight-bold">@{{ post.author.username }}</span>

        <small class="font-weight-light">{{ elapsed_time(post) }}</small>

        <!-- EDITED -->
        {% if post.edited %}
        <small class="font-weight-light">• Edited</small>
        {% endif %}


        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <!-- CONTENT -->
                <div class="form-group mb-0 mt-2">

                    {% if form.content.errors %}
                    {{ form.content(class="form-control dark-form is-invalid input-form", rows="9", style="resize: none;", onkeyup="countChar(this, 300)", maxlength="300", autofocus=true) }}
                    {% else %}
                    {{ form.content(class="form-control dark-form input-form", rows="9", style="resize: none;", onkeyup="countChar(this, 300)", maxlength="300", autofocus=true, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value") }}
                    {% endif %}

                    {% if chars_remaining == 1 %}
                    <small class="float-right mt-1" id="charNum">{{chars_remaining}} character remaining</small>
                    {% else %}
                    <small class="float-right mt-1" id="charNum">{{chars_remaining}} characters remaining</small>
                    {% endif %}

                    {% for error in form.content.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}

                </div>

            </fieldset>

            <!-- UPDATE/DELETE -->
            <div class="form-group mb-1">
                <button type="button" class="btn btn-secondary btn-sm inner-radius" onclick="history.back(-1)">Go back</button>
                <button type="button" class="btn btn-danger btn-sm ml-2 float-right inner-radius" data-toggle="modal" data-target="#deleteModal">Delete</button>
                {{form.submit(class="btn button input-button btn-sm float-right", value="Update") }}
            </div>
        </form>

        <!-- MODAL -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-background">
                    <div class="modal-header" style="border: none;">
                        <h5 class="modal-title high-emphasis font-weight-bold" id="deleteModalLabel">Delete Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="high-emphasis" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pb-0 pt-0">
                        <p class="mb-0 high-emphasis">Are you sure you want to permanently delete this post?</p>
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No, take me back</button>
                        <form method="POST" action="{{ url_for('post.delete_post', post_id=post.id) }}">
                            <input class="btn btn-danger btn-sm" type="submit" value="Yes, delete this post">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- CONTENT END -->
{% endblock content %}

<!-- SIDEBAR START -->
{% block sidebar %}

<div class="col-md-5 d-none d-sm-block">
    <div class="content-section">
        <div class="align-middle mt-1">
            <h5 class="heading-title">Tip and tricks!</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#3f3fff" class="bi bi-lightbulb mb-2" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
            </svg>
        </div>
        <ul class="list-group">

            <!-- LINK #1 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Quisque sit amet quam et massa pulvinar elementum.
                </li>
            </a>

            <!-- LINK #2 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Mauris et turpis ornare, eleifend sem ac, auctor sem.
                </li>
            </a>

            <!-- LINK #3 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Vivamus ut mauris nec tortor semper fringilla scelerisque a diam.
                </li>
            </a>

        </ul>
        </p>
    </div>
</div>

<!-- SIDEBAR END -->
{% endblock sidebar %}