{% extends "base.html" %}

<!-- CONTENT START -->
{% block content %}

<!-- RESET PASSWORD -->
<div class="content-section mb-2">
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <!-- EMAIL -->
            <div class="form-group">

                {{ form.email.label(class="form-control-label font-weight-bold") }}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text dark-form">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg>
                        </div>
                    </div>

                    {% if form.email.errors %}
                    {{ form.email(class="form-control dark-form is-invalid input-form icon-field", autofocus=true, type="email") }}
                    {% else %}
                    {{ form.email(class="form-control dark-form input-form icon-field", autofocus=true, type="email") }}
                    {% endif %}

                </div>

                {% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>
                {% endfor %}

            </div>

        </fieldset>

        <!-- SUBMIT -->
        <div class="form-group mb-1">
            {{form.submit(class="btn button input-button") }}
        </div>

    </form>
</div>

<!-- CONTENT END -->
{% endblock content %}

<!-- SIDEBAR START -->
{% block sidebar %}

<div class="col-md-5 d-none d-md-block">
    <img src="/static/img/password_reset.svg" alt="Log in image" class="img-fluid float-right pr-4">
</div>

<!-- SIDEBAR END -->
{% endblock sidebar %}