{% extends "base.html" %}

<!-- CONTENT START -->
{% block content %}

<!-- POSTS -->
{% for post in posts.items %}
<article class="media content-section">

    <div class="w-100">

        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">

        <a class="mr-1 secondary-colour font-weight-bold post-username" href="{{ url_for('routes.user_posts', username=post.author.username) }}">@{{ post.author.username }}</a>

        <small class="font-weight-light">{{ elapsed_time(post) }}</small>

        <!-- EDITED -->
        {% if post.edited %}
        <small class="font-weight-light">• Edited</small>
        {% endif %}

        {% if post.author == current_user %}
        <p class="post-content mb-0 mt-2">{{ post.content }}</p>
        <div class="float-right">
            <small class="mb-0">
                <a href="{{ url_for('post.edit_post', post_id=post.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" class="bi bi-pencil-fill" viewBox="0 0 16 16" id="svg-edit">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>
                </a>
            </small>
        </div>
        {% else %}
        <p class="post-content mt-2">{{ post.content }}</p>
        {% endif %}
    </div>

</article>
{% endfor %}

<!-- PAGINATION -->

<!-- PREVIOUS -->
{% for page_num in posts.iter_pages(left_edge=0, right_edge=0, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page > page_num %}
<a class="soft-primary-colour float-left mb-3" href="{{ url_for('routes.user_posts', username=user.username, page=page_num) }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--soft-primary)" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
    <small class="soft-primary-colour">Previous page</small>
</a>
{% endif %}
{% endif %}
{% endfor %}

<!-- NEXT -->
{% for page_num in posts.iter_pages(left_edge=0, right_edge=0, left_current=1, right_current=2) %}
{% if page_num and page_num > posts.page %}
{% if page_num > posts.page %}
<a class="soft-primary-colour float-right mb-3" href="{{ url_for('routes.user_posts', username=user.username, page=page_num) }}">
    <small class="soft-primary-colour">Next page</small>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--soft-primary)" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg>
</a>
{% endif %}
{% endif %}
{% endfor %}

<!-- CONTENT END -->
{% endblock content %}

<!-- SIDEBAR START -->
{% block sidebar %}

<div class="col-md-5">
    <div class="content-section">
        <div class="align-middle mt-1">
            <h5 class="heading-title">All posts by: @{{ user.username }}</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#3f3fff" class="bi bi-clock-history mb-1" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <ul class="list-group">

            <!-- LINK #1 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Total posts: {{ posts.total }}
                </li>
            </a>

            <!-- LINK #2 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Mauris et turpis ornare, eleifend sem ac, auctor sem.
                </li>
            </a>

            <!-- LINK #3 -->
            <a href="#">
                <li class="sidebar-list d-flex justify-content-between align-items-center">
                    Vivamus ut mauris nec tortor semper fringilla scelerisque a diam.
                </li>
            </a>

        </ul>
        </p>
    </div>
</div>

<!-- SIDEBAR END -->
{% endblock sidebar %}