:root {
  --primary: #3f3fff;
  --seconday: #ffff3f;
  --background: #17171f;
  --component: #1b1b27;
  --surface: #1f1f2e;
  --high-emphasis: rgb(255, 255, 255, 0.87);
  --medium-emphasis: rgb(255, 255, 255, 0.60);
  --disable: rgb(255, 255, 255, 0.38);
  --outer-radius: 8px;
  --inner-radius: 5px;
  --hover-opacity: 0.90;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--surface);
  -webkit-text-fill-color: var(--medium-emphasis);
  -webkit-box-shadow: 0 0 0px 1000px var(--surface) inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: var(--medium-emphasis);
}

body {
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

.container-main {
  margin-top: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--high-emphasis);
}

p, legend {
  color: var(--medium-emphasis);
}

small {
  color: var(--disable);
}

.medium-emphasis {
  color: var(--medium-emphasis);
}

.high-emphasis {
  color: var(--high-emphasis);
}

.nav-dark {
  background-color: var(--background);
}

.content-section {
  background: var(--component);
  padding: 10px 15px;
  border-radius: var(--outer-radius);
  margin-bottom: 15px;
}

.post-content {
  white-space: pre-line;
}

.post-metadata {
  margin-bottom: 4px;
}

.sidebar-list {
  padding: 8px 10px;
  margin: 5px;
  border-radius: var(--inner-radius);
  list-style-type: none;
  color: var(--high-emphasis);
  background-color: var(--surface);
}

.input-form {
  border-radius: var(--inner-radius);
}

.input-button {
  border-radius: var(--inner-radius);
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--high-emphasis);
}

.input-button:hover {
  opacity: var(--hover-opacity);
  color: var(--high-emphasis);
}

a:hover {
  text-decoration: none;
  opacity: var(--hover-opacity);
}

.post-username {
  color: var(--primary);
}

.heading-title {
  margin-right: 10px;
  display: inline-block;
}

.heading-svg {
  display: inline-block;
  margin-bottom: 5px;
}

#svg-graph {
  fill: var(--primary);
}

.button:active {
  transform: translateY(2px);
}

fieldset div {
  color: var(--high-emphasis);
}

.dark-form, .dark-form:focus {
  background-color: var(--surface);
  border-color: var(--surface);
  color: var(--medium-emphasis);
}

.badge-fill {
  background-color: var(--primary);
}

/* PROFILE */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* POSTS */
.article-img {
  height: 60px;
  width: 60px;
  margin-right: 16px;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.modal-background {
  background: var(--component);
  border-radius: var(--outer-radius);
}

.inner-radius {
  border-radius: var(--inner-radius);
}

#svg-edit:hover {
  color: var(--primary);
}

.primary-colour {
  color: var(--primary);
}

/* SMALL LINKS --> Sign in, Sign up, Forgot your password? */
.primary-colour:hover {
  color: var(--primary);
  text-decoration: none;
  opacity: var(--hover-opacity);
}

.primary-text:hover {
  color: var(--primary);
}